.masterFlex {
  display: flex;
  flex-direction: row;
  min-height: 50vw;
  .leftGallery {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    position: relative;
    min-width: 50vw;
    .image {
      filter: brightness(60%);
      width: 25vw;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 5%;
        display: block;
      }
    }
  }
}

.bodyLogo {
  position: absolute;
  bottom: 41%;
  left: 10%;
  height: 150px;
}
