.masterFlex {
  display: flex;
  flex-direction: row;
  .leftGallery {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    position: relative;
    width: 50vw;
    height: 100vh;
    .image {
      filter: brightness(60%);
      width: 25vw;
      display: flex;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 5%;
        display: block;
      }
    }
  }
}

.bodyLogo {
  position: absolute;
  bottom: 50%;
  left: 5%;
  height: 180px;
}
