.rightGallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  position: relative;
  width: 50vw;
  .topRightGallery,
  .bottomRightGallery {
    display: flex;
  }
  .image {
    filter: brightness(60%);
    width: 25vw;
    min-height: 25vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &::before {
      content: "";
      padding-top: 56.25%;
      display: block;
    }
  }
  .headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000;
    color: #ffff;
    padding: 20px;
    flex: 1;
  }
}

.imageFive {
  background-image: url(../assets/image5.png);
}

.imageSix {
  background-image: url(../assets/image6.png);
}

.imageSeven {
  background-image: url(../assets/image7.png);
}

.imageEight {
  background-image: url(../assets/image8.png);
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: 0px -30px;
}
